$primary-color: #27a0ff;
$secondary-color: #0074cf;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    user-select: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;

    .inputBox{
        position: relative;
        width: 450px;

        .fa-fingerprint{
            display: block;
            text-align: center;
            margin-bottom: 20px;
            font-size: 55px;
            transition: 0.5s;

            &:hover{
                color: $secondary-color;
                transform: scale(1.1);
                cursor: pointer;
            }
        }        

        h2{
            font-size: 28px;
            color: #333;
        }

        #digit_number{
            width: 98% !important;
        }

        .range_box{
            position: relative;
            display: flex;
            padding: 20px;
            // background: linear-gradient(to bottom, rgba(0,0,0,0.05), #edf1f4);
            border-radius: 15px;
            margin-bottom: 25px;        
            width: fit-content;
            box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                        inset 4px 4px 10px rgba(0, 0, 0, 0.05),
                        inset -4px -4px 10px rgba(255, 255, 255, 1),
                        4px 4px 10px rgba(0, 0, 0, 0.05);

            #range{
                cursor: pointer;
                width: 400px;
                height: 15px;
                appearance: none;
                background: #edf1f4;
                outline: none;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
                            -5px -5px 10px #fff,
                            inset 5px 5px 5px rgba(0, 0, 0, 0.1);

                &::-webkit-slider-thumb{
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 2px solid $secondary-color;
                    box-shadow: -407px 0 0 400px $primary-color;
                }
            }

            #range_value{
                position: absolute;
                top: 56%;
                left: 35%;
                text-align: center;
                width: 60px;
                font-size: 1.25em;
                color: #fff;
                background-color: #27a0ff;
                margin-left: 15px;
                border-radius: 25px;
                font-weight: 500;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                            -5px -5px 10px #fff,
                            inset 5px 5px 10px rgba(0, 0, 0, 0.1),
                            inset -5px -5px 5px rgba(255, 255, 255, 0.25);
            }

            p{
                margin-top: 15px;
            }
        }

        .password-area{
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-copy{
                margin: 0 25px;
                font-size: 28px;
                cursor: pointer;
                color: #333;
                opacity: 0.5;

                &:hover{
                    opacity: 1;
                }
            }
        }

        input:not(#range){
            position: relative;
            width: 100%;
            height: 60px;
            border: none;
            margin: 15px 0 20px;
            background: transparent;
            outline: none;
            padding: 0 20px;
            font-size: 24px;
            letter-spacing: 4px;
            box-sizing: border-box;
            border-radius: 8px;
            color: #333;
            box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                        inset 4px 4px 10px rgba(0, 0, 0, 0.05),
                        inset -4px -4px 10px rgba(255, 255, 255, 1),
                        4px 4px 10px rgba(0, 0, 0, 0.05);

            &::placeholder{
                letter-spacing: 0;
            }
        }

        #btn{
            position: relative;
            cursor: pointer;
            color: #fff;
            background: #333;
            font-size: 24px;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 8px;

            &:active{
                background: $secondary-color;
            }
        }

        #clear_btn{
            position: relative;
            cursor: pointer;
            color: #333;
            background: transparent;
            border: 2px solid #333;
            font-size: 24px;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 8px;

            &:active{
                background: $secondary-color;
            }
        }

        a{
            text-decoration: none;
            color: #333;
            display: inline-block;
            margin-top: 3%;

            &:hover{
                color: #6055f6;
            }
        }
    }

    footer{
        position: absolute !important;
        bottom: 2% !important;

        a{
            text-decoration: none;
            font-weight: bold;
        }
    }
}