* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
  user-select: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}
body .inputBox {
  position: relative;
  width: 450px;
}
body .inputBox .fa-fingerprint {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 55px;
  transition: 0.5s;
}
body .inputBox .fa-fingerprint:hover {
  color: #0074cf;
  transform: scale(1.1);
  cursor: pointer;
}
body .inputBox h2 {
  font-size: 28px;
  color: #333;
}
body .inputBox #digit_number {
  width: 98% !important;
}
body .inputBox .range_box {
  position: relative;
  display: flex;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
  width: fit-content;
  box-shadow: -4px -4px 10px rgb(255, 255, 255), inset 4px 4px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 10px rgb(255, 255, 255), 4px 4px 10px rgba(0, 0, 0, 0.05);
}
body .inputBox .range_box #range {
  cursor: pointer;
  width: 400px;
  height: 15px;
  appearance: none;
  background: #edf1f4;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff, inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
body .inputBox .range_box #range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #0074cf;
  box-shadow: -407px 0 0 400px #27a0ff;
}
body .inputBox .range_box #range_value {
  position: absolute;
  top: 56%;
  left: 35%;
  text-align: center;
  width: 60px;
  font-size: 1.25em;
  color: #fff;
  background-color: #27a0ff;
  margin-left: 15px;
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff, inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.25);
}
body .inputBox .range_box p {
  margin-top: 15px;
}
body .inputBox .password-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .inputBox .password-area .fa-copy {
  margin: 0 25px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
  opacity: 0.5;
}
body .inputBox .password-area .fa-copy:hover {
  opacity: 1;
}
body .inputBox input:not(#range) {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  margin: 15px 0 20px;
  background: transparent;
  outline: none;
  padding: 0 20px;
  font-size: 24px;
  letter-spacing: 4px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #333;
  box-shadow: -4px -4px 10px rgb(255, 255, 255), inset 4px 4px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 10px rgb(255, 255, 255), 4px 4px 10px rgba(0, 0, 0, 0.05);
}
body .inputBox input:not(#range)::placeholder {
  letter-spacing: 0;
}
body .inputBox #btn {
  position: relative;
  cursor: pointer;
  color: #fff;
  background: #333;
  font-size: 24px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
}
body .inputBox #btn:active {
  background: #0074cf;
}
body .inputBox #clear_btn {
  position: relative;
  cursor: pointer;
  color: #333;
  background: transparent;
  border: 2px solid #333;
  font-size: 24px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
}
body .inputBox #clear_btn:active {
  background: #0074cf;
}
body .inputBox a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  margin-top: 3%;
}
body .inputBox a:hover {
  color: #6055f6;
}
body footer {
  position: absolute !important;
  bottom: 2% !important;
}
body footer a {
  text-decoration: none;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */